{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Listar Productos</title>
</head>

<body>
    <header class="cabecera">
        <div class="container">
            <div class="logo">
                <a href="/paginaPrincipal"><img id="fenix" src="{% static 'img/Fenix.png' %}" alt=""></a>
                <a href="/paginaPrincipal">
                    <h2 id="phoenix_store">Phoenix store</h2>
                </a>
            </div>
            <nav class="nav">
                <a class="nav-link" href="/carcasas">Carcasas</a>
                <a class="nav-link" href="/llaveros">Llaveros</a>
                <a class="nav-link" href="/tazones">Tazones</a>
                <a class="nav-link" href="/funkos">Funkos</a>
                <a class="nav-link" href="/peluches">Peluches</a>
                <a class="nav-link" href="/accesorios">Accesorios</a>
                <a class="nav-link" href="/ropa">Ropa</a>
            </nav>
        </div>
        <div>
            {% if user.is_authenticated %} {% if request.user.is_superuser %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Administrar Productos
                            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="registrarProducto">Agregar Producto</a>
                    <a class="dropdown-item" href="listarProducto">Listar Todos</a>
                    <a href="/listarProducto/Phoenix" class="dropdown-item">Listar por marca Phoenix</a>
                    <a href="/listarProducto/Acme" class="dropdown-item">Listar por marca Acme</a>
                </div>
            </div>
            {% else %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Listar productos
                      </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="listarProducto">Listar Todos</a>
                    <a href="/listarProducto/Phoenix" class="dropdown-item">Listar por marca Phoenix</a>
                    <a href="/listarProducto/Acme" class="dropdown-item">Listar por marca Acme</a>
                </div>
            </div>{% endif %} {% else %}{% endif %}
        </div>

        <div>
            {% if user.is_authenticated %}
            <p class="bg-primary text-white">Bienvenido {{ user.username }}!</p>
            <p><a class="btn btn-danger" href="{% url 'logout' %}">Logout</a></p>
            {% else %}
            <p class="bg-primary text-white">No estas logeado</p>
            <a class="btn btn-danger" href="{% url 'login' %}">Login</a> {% endif %}
        </div>
    </header>
    <h1>Listar productos</h1>
    <ul>
        {% for p in productos %}
        <li>
            {{p.nombre}} $ {{p.precio}} , {{p.marca}} , {{p.modelo}} , {{p.descripcion}} , {{p.stock}},<img src="{{p.imagen}}">
            <a href="/editarProducto/{{p.id}}">EDITAR</a>
            <a href="/borrarProducto/{{p.id}}" onclick="return confirm('¿Seguro de borrar?');">
            BORRAR</a>
        </li>
        {% endfor %}
    </ul>
    <footer id="fondo">
        <div id="bot_contenedor">
            <a id="texto_bot2" href="/entregas">
                <p>Entregas</p>
            </a>
        </div>
        <div id="rss">
            <img id="rss_img" src="{% static 'img/Logo-face.png' %}" alt="">
            <img id="rss_img2" src="{% static 'img/Logo-insta.png' %}" alt="">
            <img id="rss_img3" src="{% static 'img/Logo-wsp.png' %}" alt="">
        </div>
        <div id="derechos">
            <p>Todos los derechos reservados</p>
        </div>
        <a class="row justify-content-center" href="/paginaPrincipal">
            <p class="bg-danger text-white">Página principal</p>
        </a>

    </footer>
</body>

</html>